@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-md-4">
            <h1 class="display-4">по-пу-ти</h1>
            <p>Соседи-волонтеры доставят детское питание</p>
            <p>Правила простые:</p>
            <ol>
                <li>Зарегистрируйтесь на сервисе</li>
                <li>Если Вам нужна помощь - призовите волонтеров</li>
                <li>Если Вы можете помочь - выбирайте запрос</li>
            </ol>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <img class="img-fluid" src="~/images/ontheway.jpeg" width="480" height="660"/>
        </div>
     </div>
